.product-box {
  width: 90%;
  height: 800px;
  background-color: $moda-skin;
  border-radius: 20px;
  box-shadow: 0 0 4px 5px $moda-bronze;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .product-gallery {
    width: 70%;
    height: 400px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    .product-photo-primary {
      height: 70%;
      img {
        width: 80%;
      }
    }
    .product-photo-secondary {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 30%;
      img {
        width: 30%;
        margin: 0.6rem;
      }
    }
  }
  .product-title {
    font-size: 2rem;
    color: $moda-bronze;
  }
}
